<section class="evento-list-page d-flex justify-content-center align-items-center h-100">
  <div class="card p-4 w-75 mt-4">
    <div class="card-body">
      <h1>Todos os eventos</h1>
      <table class="table mt-4">
        <caption></caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Organizador</th>
            <th scope="col">Local</th>
            <th scope="col">Preço</th>
            <th scope="col">Vagas</th>
            <th scope="col">Inicio</th>
            <th scope="col">Fim</th>
            <th class="text-center" scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evento of eventos">
            <td>{{evento.nome}}</td>
            <td>{{evento.id_organizador}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.preco}}</td>
            <td>{{evento.qtd_vagas}}</td>
            <td>{{evento.data_inicio | date: 'HH:mm dd/MM/yyyy' }}</td>
            <td>{{evento.data_fim | date: 'HH:mm dd/MM/yyyy' }}</td>
            <td class="d-flex justify-content-between">
              <button type="button" class="btn btn-light" [routerLink]="['edit', evento.id]">Editar</button>
              <button type="button" class="btn btn-light" (click)="deletarEvento(evento.id)">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
